/**
  HEADER
 **/
$default-header-height: 3.125rem;
$default-header-logo-width: 9.0625rem;
$default-header-logo-padding: 0.5rem;
$default-header-logo-border-width: 0.125rem;

$default-header-nav-icon-size: 2rem;

/**
  BODY
 **/
$default-body-height: 31.25rem;



/**
  FONT-SIZES
 **/
$font-14: 0.875rem;